.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* flex-wrap: wrap; */
}
.LawCheck {
  width: 100vw;
}
.CourtCheck {
  text-align: center;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* flex-wrap: wrap; */
}
.Hashtag {
  display: flex;

  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  /* margin-top: 0; */
  /* padding: 0; */
}
.Buttons {
  width: 90%;
  height: 40px;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5px;
  border-radius: 10px;
  font-family: "Baskerville";
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.CardCourt {
  border-radius: 10px;
  width: 95%;
  height: auto;
  border-width: 1px;
  border-color: gray;
  background-color: gainsboro;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}
.Messages {
  /* text-align: center; */
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border-width: 2px; */
  /* border-style: solid; */
  flex-wrap: nowrap;
  justify-content: center;
  align-items: top;
  margin-top: 20px;
}
.App-logo {
  height: 40vmin;
}

.App-headerLeft {
  /* background-color: #282c34; */
  width: 35vw;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-headerRight {
  /* background-color: #282c34; */
  width: 35vw;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.CardStyle {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  width: 45vw;
  margin: 10px;
  /* background-color: pink; */
}
